{%extends "based/base.html"%}
{%load crispy_forms_tags%}
{%block content%}


  <div class="row">
    <div class="col">
       <h1>{{post.name}}</h1>
{%if post.postType == "video"%}
  <video style="width:100%" src="{{post.video.url}}" controls>
    <source>
  </video>
{%elif post.postType == "img"%}
<img src="{{post.img.url}}" alt="">
{%else%}
  <p>{{post.react}}</p>
{%endif%}
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Опис
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <a href="{%url 'profile' post.author.id%}">{{post.author}}</a><br>
          <div class="card">
            <div class="card-body">{{post.description}}</div>
              </div>
      </div>
    </div>
  </div>

  <form action="{%url 'commentAdd' post.id%}" method="POST">
  {%csrf_token%}
  {{form|crispy}}
<button type="submit">Надіслати комент</button>
</form>

<hr>

    {%for comment in comments%}
    <div class="card">
            <div class="card-body"><h1>{{comment.author}}</h1>
  <a data-bs-toggle="collapse" href="#{{comment.id}}" role="link" aria-expanded="false" aria-controls="collapseExample">
    {{comment.text}}
  </a>

            </div></div>
      <div class="col-auto">

      </div>
<div class="collapse" id="{{comment.id}}">
  <div class="card card-body">
<form style="width:25%;" action="{%url 'answerCommentAdd' post.id comment.id%}" method="POST">{%csrf_token%}{{form|crispy}} <button type="submit">accept</button></form>
  </div>
</div>
{%for answer in comment.answer.all%}
<div class="collapse" id="{{comment.id}}">
  <div class="card card-body">
    <b>{{answer.author}}:</b> {{answer.text}}
  </div>
</div>
{%empty%}
<div class="collapse" id="{{comment.id}}">
  <div class="card card-body">
    поки відповідей немає
  </div>
</div>
{%endfor%}
<br>
{%endfor%}
    </div>
    <div class="col-md-auto">

    </div>
    <div class="col col-lg-3">

    </div>
  </div>
</div>




{%endblock%}