{%extends "based/base.html"%}
{%load crispy_forms_tags%}
{%block content%}



    <h1>{{post.name}}</h1>
    <h2>{{post.author}}</h2>
{%if post.postType == "video"%}
  <video style="width:75%" src="{{post.video.url}}" controls>
    <source>
  </video>
{%elif post.postType == "sketch"%}
<img src="{{post.img.url}}" alt="">
{%else%}
  <p>{{post.react}}</p>
{%endif%}
<hr>
  <form action="{%url 'commentAdd' post.id%}" method="POST">
  {%csrf_token%}
  {{form|crispy}}
<button type="submit">Надіслати комент</button>
</form>

<hr>

    {%for comment in comments%}
    <h1>{{comment.author}}</h1>
  <a data-bs-toggle="collapse" href="#{{comment.id}}" role="link" aria-expanded="false" aria-controls="collapseExample">
    {{comment.text}}
  </a>

<div class="collapse" id="{{comment.id}}">
  <div class="card card-body">
<form action="{%url 'answerCommentAdd' post.id comment.id%}" method="POST">{%csrf_token%}{{form|crispy}} <button type="submit">accept</button></form>
  </div>
</div>
{%for answer in comment.answer.all%}
<div class="collapse" id="{{comment.id}}">
  <div class="card card-body">
    <b>{{answer.author}}:</b> {{answer.text}}
  </div>
</div>
{%empty%}
<div class="collapse" id="{{comment.id}}">
  <div class="card card-body">
    поки відповідей немає
  </div>
</div>
{%endfor%}
<br>
{%endfor%}


{%endblock%}