{%extends "based/base.html"%}
{%block content%}
{% load crispy_forms_tags %}

<div class="card shadow-sm p-4 rounded " >
            <h3 class="mb-4 text-center">Покращення профілю</h3>
<form method="POST" action="{%url 'profileEdit' request.user.id%}" enctype="multipart/form-data">
    {%csrf_token%}
    {{form|crispy}}
            <div class="action">
                <div class="d-grid mt-3">
                    <button type="submit" class="btn btn-secondary">Оновити профіль</button>
                </div>
            </div>
</form>
</div>


{%endblock%}